html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* This points to your public/images/ folder */
  background-image: url('/images/bkrnd.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: serif;
}